---
import { db } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import { Meal, Author } from "astro:db";
import { eq } from "astro:db";
import Button from "../../components/common/Button.astro";

const mealId = Astro.params.id;

if (Astro.request.method === "POST") {
  await db.delete(Meal).where(eq(Meal.id, +mealId!));
  return Astro.redirect("/");
}

const [{ Meal: meal, Author: author }] = await db
  .select()
  .from(Meal)
  .where(eq(Meal.id, +mealId!))
  .innerJoin(Author, eq(Meal.authorId, Author.id));

if (!meal) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { title, description, image, imageAlt } = meal;
---

<Layout title="Datail du plat">
  <h1>{title}</h1>
  <img src={image} alt={imageAlt} />
  <p class="paragraph">{description}</p>
  <p class="paragraph">
    Auteur : {author.name}
  </p>
  <form method="post">
    <Button type="submit">Supprimer</Button>
  </form>
</Layout>

<style>
  img {
    max-width: 320px;
    object-fit: cover;
    border-radius: 1.8rem;
  }
</style>
